<mat-spinner class="login-spinner" *ngIf="loadSpinner"></mat-spinner>

<div *ngIf="!loadSpinner">
    <dx-scheduler
        id="scheduler"
        [dataSource]="appointmentsSource!"
        textExpr="title"
        [(currentDate)]="currentDate"
        (onAppointmentAdding)="onAppointmentAdding($event)"
        (onAppointmentUpdating)="editAppointment($event)"
        (onAppointmentDeleting)="deleteAppointment($event)"> 
        >
        <dxi-resource
            displayExpr="text"
            fieldExpr="doctorName"
            [allowMultiple]="false"
            [dataSource]="doctorOptions!"
            label="Doctor"
        >
        </dxi-resource>
        <dxi-resource
            displayExpr="name"
            fieldExpr="debtorID"
            [allowMultiple]="false"
            [dataSource]="mainSource!"
            label="Debtor"
        >
        </dxi-resource>
        <dxi-resource
            displayExpr="name"
            fieldExpr="patientID"
            [allowMultiple]="false"
            [dataSource]="patientSource!"
            label="Patient"
        >
        </dxi-resource>
    <!-- Configuration goes here -->
    </dx-scheduler>

</div>
