
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 2%;
}

.add-button-div {
    float: right;
}

#cancel-button {
    color: red;
}