<div class="center-div">
    <div class="login-image">
        <img src="../../assets/images/goodxlogo.png" alt="">
    </div>
    <form *ngIf="loginForm" [formGroup]="loginForm">
        <div class="login-card-header-font">
            <p class="login-card-header-font-dash">goodX Assessment</p>
        </div>
        <mat-card class="login-card">
            <mat-spinner class="login-spinner" *ngIf="load"></mat-spinner>
            <div *ngIf="!load">
                <mat-card-content>
                    <p>
                        <mat-form-field appearance="fill" class="login-card-content-field">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" formControlName="username">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill" class="login-card-content-field">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password"
                                [type]="show ? 'text' : 'password'">
                            <mat-icon matSuffix (click)="show = !show">{{ show ? 'visibility_off' : 'visibility'
                                }}</mat-icon>
                        </mat-form-field>
                    </p>
                </mat-card-content>
                <div class="login-submit">
                    <button type="button" mat-raised-button id="login-button" (click)="onLogin()">Log in</button>
                    &nbsp;
                    <button type="button" mat-raised-button color="accent" (click)="onRegister()">Register</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>

